/* App specific styles */
.app {
  width: 100%;
  min-height: 100vh;
}

.app-loader {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0f172a;
}
